<div id="container">
  <app-wall
    #leftWall
    (updatePackageList)="updatePackageList()"
    [totalWidth]="totalWidthL"
    [globalWidth]="globalWidth"
    [globalHeight]="globalHeight"
    [glassType]="glassType"
    [leftMount]="leftMount"
    [rightMount]="leftWallRightMount"
  ></app-wall>
  <app-wall
    #rightWall
    (updatePackageList)="updatePackageList()"
    [totalWidth]="totalWidthR"
    [globalWidth]="globalWidth"
    [globalHeight]="globalHeight"
    [glassType]="glassType"
    [rightMount]="rightMount"
  ></app-wall>
</div>
