<div class="canvas">
  <div *ngIf="totalWidthL >= 10 && totalWidthL <= 9999">
    <div
      class="row"
      *ngIf="totalWidthR >= 10 && totalWidthR <= 9999; else single"
    >
      <app-wall
        #leftWall
        [globalWidth]="globalWidth"
        [globalHeight]="globalHeight"
        [individualWidth]="individualWidth"
        [individualHeight]="individualHeight"
        [leftMount]="leftMount"
        rightMount="post"
        [glassType]="glassType"
        [totalWidth]="totalWidthL"
      ></app-wall>
      <app-wall
        #rightWall
        [globalWidth]="globalWidth"
        [globalHeight]="globalHeight"
        [individualWidth]="individualWidth"
        [individualHeight]="individualHeight"
        [rightMount]="rightMount"
        [glassType]="glassType"
        [totalWidth]="totalWidthR"
      ></app-wall>
    </div>
    <ng-template #single class="row">
      <app-wall
        #leftWall
        [globalWidth]="globalWidth"
        [globalHeight]="globalHeight"
        [individualWidth]="individualWidth"
        [individualHeight]="individualHeight"
        [leftMount]="leftMount"
        [rightMount]="rightMount"
        [glassType]="glassType"
        [totalWidth]="totalWidthL"
      ></app-wall>
    </ng-template>
  </div>
</div>
