#container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 4rem;
  justify-content: center;

  &.wrap {
    flex-direction: column;
    gap: 2rem;
  }

  app-wall {
    width: fit-content;
  }
}
