#container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  column-gap: 4rem;
  row-gap: 1rem;
  justify-content: center;

  app-wall {
    width: fit-content;
  }
}

@media print {
  #container {
    flex-direction: column;
  }
}
