<div id="container">
  <app-wall
    #leftWall
    [totalWidth]="_totalWidthL"
    [globalWidth]="_globalWidth"
    [globalHeight]="_globalHeight"
    [glassType]="_glassType"
    [individualWidth]="individualWidth"
    [individualHeight]="individualHeight"
    [leftMount]="_leftMount"
    [rightMount]="leftWallRightMount"
  ></app-wall>
  <app-wall
    #rightWall
    [totalWidth]="_totalWidthR"
    [globalWidth]="_globalWidth"
    [globalHeight]="_globalHeight"
    [glassType]="_glassType"
    [individualWidth]="individualWidth"
    [individualHeight]="individualHeight"
    [rightMount]="_rightMount"
  ></app-wall>
</div>
