<div class="w-100 py-2">
  <a class="col-12" routerLink="/" style="color: black; font-size: 1.5rem">
    <i class="fas fa-fw fa-home"></i>
  </a>
</div>
<form [formGroup]="fg" (ngSubmit)="submit()" class="border p-5">
  <div>
    Gammelt passord
    <input
      id="oldPassword"
      class="form-control"
      [class.error]="!fg.controls['oldPassword'].valid && fg.controls['oldPassword'].touched"
      type="password"
      formControlName="oldPassword"
    />
    <div *ngIf="failed" class="error-message">Feil passord</div>
  </div>

  <div class="mt-4">
    Nytt passord
    <input
      class="form-control"
      [class.error]="!fg.controls['newPassword'].valid && fg.controls['newPassword'].touched"
      type="password"
      formControlName="newPassword"
    />
  </div>

  <div class="ml-auto" style="width: fit-content">
    <button class="btn btn-primary ms-auto mt-2">Lagre</button>
  </div>
</form>
