<div class="w-100 py-2">
  <a class="col-12" routerLink="/" style="color: black; font-size: 1.5rem">
    <i class="fas fa-fw fa-home"></i>
  </a>
</div>
<div class="container mx-auto row g-3">
  <div class="row col-12">
    <div class="col-12">
      <h3>Teams</h3>
    </div>

    <div *ngIf="(teams$ | async)?.length" class="col-12 border">
      <table class="table">
        <thead>
          <tr>
            <th class="w-100">Navn</th>
            <th></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let team of teams$ | async">
            <td>
              {{ team.name }}
            </td>
            <td>
              <i class="fas fa-fw fa-pencil-alt" (click)="updateTeam(team)"></i>
            </td>
            <td>
              <i class="fas fa-fw fa-trash-alt" (click)="deleteTeam(team.id)"></i>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="row w-100 mt-3">
      <div class="ml-auto">
        <button class="btn btn-outline-secondary" (click)="addTeam()">Nytt team</button>
      </div>
    </div>
  </div>

  <div class="row col-12 mt-5">
    <div class="col-12">
      <h3>Montører</h3>
    </div>

    <div *ngIf="(employees$ | async)?.length" class="col-12 border">
      <table class="table">
        <thead>
          <tr>
            <th class="w-100">Navn</th>
            <th></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let employee of employees$ | async">
            <td>
              {{ employee.name }}
            </td>
            <td>
              <i class="fas fa-fw fa-pencil-alt" (click)="updateEmployee(employee)"></i>
            </td>
            <td>
              <i class="fas fa-fw fa-trash-alt" (click)="deleteEmployee(employee.id)"></i>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="row w-100 mt-3">
      <div class="ml-auto">
        <button class="btn btn-outline-secondary" (click)="addEmployee()">Ny montør</button>
      </div>
    </div>
  </div>

  <div class="row col-12 mt-5 pt-3 routes">
    <a routerLink="/passord" class="ml-auto">
      <button class="btn btn-outline-secondary">Endre passord</button>
    </a>
  </div>
</div>

<ng-template #addTeamModal let-close="close">
  <div class="modal-header">
    <button type="button" class="close" (click)="close()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div>
      Navn
      <input class="form-control" type="text" [(ngModel)]="modalTeam.name" maxlength="255" />
    </div>
    <div class="mt-4">
      Hoved farge
      <input class="form-control" type="color" [(ngModel)]="modalTeam.primaryColor" />
    </div>
    <div class="mt-4">
      Andre farge
      <input class="form-control" type="color" [(ngModel)]="modalTeam.secondaryColor" />
    </div>
  </div>
  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-outline-success ms-auto"
      (click)="modalTeam.id === 0 ? confirmAddTeam() : confirmUpdateTeam()"
    >
      Lagre
    </button>
  </div>
</ng-template>

<ng-template #addEmployeeModal let-close="close">
  <div class="modal-header">
    <button type="button" class="close" (click)="close()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div>
      Navn
      <input class="form-control" type="text" [(ngModel)]="modalEmployee.name" maxlength="255" />
    </div>
    <div class="mt-4">
      Farge
      <input class="form-control" type="color" [(ngModel)]="modalEmployee.color" />
    </div>
  </div>
  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-outline-success ms-auto"
      (click)="modalEmployee.id === 0 ? confirmAddEmployee() : confirmUpdateEmployee()"
    >
      Lagre
    </button>
  </div>
</ng-template>
