<div id="header" class="row text-center w-100 py-2">
  <div class="col-md-1">
    <div class="me-auto" style="width: fit-content">
      <a class="col-12" routerLink="/instillinger" style="color: black; font-size: 1.5rem">
        <i class="fas fa-fw fa-cog"></i>
      </a>
    </div>
  </div>
  <div class="col-md-3">
    <div class="btn-group">
      <button class="btn btn-primary" (click)="view = CalendarView.Month" [class.active]="view === CalendarView.Month">
        2 Uker
      </button>
      <button class="btn btn-primary" (click)="view = CalendarView.Week" [class.active]="view === CalendarView.Week">
        Uke
      </button>
      <button class="btn btn-primary" (click)="view = CalendarView.Day" [class.active]="view === CalendarView.Day">
        Dag
      </button>
    </div>
  </div>
  <div class="col-md-2">
    <h3>Uke {{ viewDate | date: 'w' }}</h3>
  </div>
  <div class="col-md-3">
    <h3 *ngIf="view === CalendarView.Day; else week">
      {{ viewDate | date: 'EEEE d. MMM YYYY' }}
    </h3>
    <ng-template #week>
      <h3>
        {{ addDays(startOfWeek(viewDate), 1) | date: 'd. MMM' }}
        -
        {{ addDays(startOfWeek(viewDate), view === CalendarView.Month ? 12 : 5) | date: 'd. MMM YYYY' }}
      </h3>
    </ng-template>
  </div>
  <div class="col-md-3">
    <div class="btn-group">
      <button
        #previous
        class="btn btn-primary"
        mwlCalendarPreviousView
        [view]="view === CalendarView.Month ? CalendarView.Week : view"
        [excludeDays]="excludeDays"
        [(viewDate)]="viewDate"
        (click)="fetchEvents()"
      >
        Forrige
      </button>
      <button #today class="btn btn-primary" mwlCalendarToday [(viewDate)]="viewDate" (click)="fetchEvents()">
        I dag
      </button>
      <button
        #next
        class="btn btn-primary"
        mwlCalendarNextView
        [view]="view === CalendarView.Month ? CalendarView.Week : view"
        [excludeDays]="excludeDays"
        [(viewDate)]="viewDate"
        (click)="fetchEvents()"
      >
        Neste
      </button>
    </div>
  </div>
</div>

<div id="calendar-body" [ngSwitch]="view">
  <div *ngSwitchCase="CalendarView.Month" class="d-flex flex-row w-100">
    <mwl-calendar-week-view
      class="w-50"
      [viewDate]="viewDate"
      [events]="(events$ | async) ?? []"
      [dayStartHour]="dayStart"
      [dayEndHour]="dayEnd"
      [excludeDays]="excludeDays"
      [eventTemplate]="weekTemplate"
      (hourSegmentClicked)="newEvent($event)"
      (eventClicked)="openModal($event.event)"
      (eventTimesChanged)="eventTimesChanged($event)"
    ></mwl-calendar-week-view>
    <mwl-calendar-week-view
      class="w-50 second-week"
      [viewDate]="nextWeekDate"
      [events]="(events$ | async) ?? []"
      [dayStartHour]="dayStart"
      [dayEndHour]="dayEnd"
      [excludeDays]="excludeDays"
      [eventTemplate]="weekTemplate"
      (hourSegmentClicked)="newEvent($event)"
      (eventClicked)="openModal($event.event)"
      (eventTimesChanged)="eventTimesChanged($event)"
    ></mwl-calendar-week-view>
  </div>
  <mwl-calendar-week-view
    *ngSwitchCase="CalendarView.Week"
    [viewDate]="viewDate"
    [events]="(events$ | async) ?? []"
    [dayStartHour]="dayStart"
    [dayEndHour]="dayEnd"
    [excludeDays]="excludeDays"
    [eventTemplate]="weekTemplate"
    (hourSegmentClicked)="newEvent($event)"
    (eventClicked)="openModal($event.event)"
    (eventTimesChanged)="eventTimesChanged($event)"
  ></mwl-calendar-week-view>
  <mwl-calendar-day-view
    *ngSwitchCase="CalendarView.Day"
    [viewDate]="viewDate"
    [events]="(events$ | async) ?? []"
    [dayStartHour]="dayStart"
    [dayEndHour]="dayEnd"
    [eventTemplate]="weekTemplate"
    (hourSegmentClicked)="newEvent($event)"
    (eventClicked)="openModal($event.event)"
    (eventTimesChanged)="eventTimesChanged($event)"
  ></mwl-calendar-day-view>
</div>

<ng-template
  #weekTemplate
  let-weekEvent="weekEvent"
  let-tooltipPlacement="tooltipPlacement"
  let-eventClicked="eventClicked"
  let-tooltipTemplate="tooltipTemplate"
  let-tooltipAppendToBody="tooltipAppendToBody"
  let-tooltipDelay="tooltipDelay"
  let-daysInWeek="daysInWeek"
>
  <app-week-event
    [weekEvent]="weekEvent"
    [tooltipPlacement]="tooltipPlacement"
    [tooltipTemplate]="tooltipTemplate"
    [tooltipAppendToBody]="tooltipAppendToBody"
    [tooltipDelay]="tooltipDelay"
    [daysInWeek]="daysInWeek"
    (eventClicked)="
      eventClicked.emit({
        event: weekEvent.event,
        sourceEvent: $event.sourceEvent
      })
    "
  ></app-week-event>
</ng-template>

<ng-template #modalContent let-close="close">
  <div class="modal-header">
    <button type="button" class="close" (click)="close()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div>
      Tittel
      <input id="title" class="form-control" type="text" [(ngModel)]="modalData.title" maxlength="255" />
    </div>
    <div class="mt-4">
      Detaljer
      <textarea class="form-control" rows="3" [(ngModel)]="modalData.meta.details" maxlength="255"></textarea>
    </div>
    <div class="mt-4">
      Start
      <input
        class="form-control"
        type="text"
        mwlFlatpickr
        [(ngModel)]="modalData.start"
        [altInput]="true"
        [convertModelValue]="true"
        [enableTime]="true"
        [time24hr]="true"
        dateFormat="Y-m-dTH:i"
        altFormat="F j, Y H:i"
        placeholder="Not set"
      />
    </div>
    <div class="mt-4">
      Slutt
      <input
        class="form-control"
        type="text"
        mwlFlatpickr
        [(ngModel)]="modalData.end"
        [altInput]="true"
        [convertModelValue]="true"
        [enableTime]="true"
        [time24hr]="true"
        [minDate]="modalData.start"
        dateFormat="Y-m-dTH:i"
        altFormat="F j, Y H:i"
        placeholder="Not set"
      />
    </div>
    <div class="mt-4">
      Team
      <div ngbDropdown>
        <button class="btn btn-outline-primary" id="dropdownTeam" ngbDropdownToggle>
          {{ modalData.meta.team?.name ?? 'Velg team' }}
        </button>
        <div ngbDropdownMenu aria-labelledby="dropdownTeam">
          <button ngbDropdownItem *ngFor="let team of teams$ | async" (click)="changeTeam(team)">
            {{ team.name }}
          </button>
        </div>
      </div>
    </div>
    <div class="mt-4">
      Montører
      <table class="table">
        <tbody>
          <tr *ngFor="let employee of modalData.meta.employees">
            <td class="w-100">
              {{ employee.name }}
            </td>
            <td>
              <i class="fas fa-fw fa-trash-alt" (click)="removeEmployee(employee)"></i>
            </td>
          </tr>
        </tbody>
      </table>
      <div class="mt-1">
        <div ngbDropdown>
          <button class="btn btn-outline-primary" id="dropdownEmployee" ngbDropdownToggle>Velg montør</button>
          <div ngbDropdownMenu aria-labelledby="dropdownEmployee">
            <button
              ngbDropdownItem
              *ngFor="let employee of availableEmployees(modalData) | async"
              (click)="addEmployee(employee)"
            >
              {{ employee.name }}
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer d-flex justify-content-between">
    <button type="button" class="btn btn-outline-danger" (click)="deleteEvent(modalData)">Slett</button>
    <button
      type="button"
      class="btn btn-outline-success"
      (click)="modalData.meta.id === 0 ? confirmNewEvent() : updateEvent()"
    >
      Lagre
    </button>
  </div>
</ng-template>
